:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(223, 193, 193, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use viewport height to fill the screen */
}


body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 80px;
  background-color: #635985;
}

.login {
  margin-right: 5px;
  color: white
}

.login:hover {
  color: darkgoldenrod
}

.register {
  color: white
}

.register:hover {
  color: darkgoldenrod
}

.movie-overview {
  align-items: center;
  margin-bottom: 1rem; 
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  background-color: #635985;
  width: 1300px;
  margin-left: -300px;
}


.movie-grid {
  background-color: #635985;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
  padding: 0 10px;
  width: 123%; 
  align-items: stretch;
  margin-left: 1px;
}

.movie-card {
  background-color: #635985;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 5px;
  filter: drop-shadow(5px 5px black);
  border-radius: 8px;
}


.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: transparent; 
  animation-name: slideIn; /* Animation for modal appearance */
  animation-duration: 0.4s;
  display: flex;
}

.modal-content {
  background-color: white; /* White background for the modal window */
  margin: auto; 
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  animation-name: fadeInContent; /* Animation for modal content appearance */
  color: black;
  animation-duration: 0.3s;
  animation-delay: 0.1s; /* Delay slightly to mimic window opening effect */
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%); /* Slide from left initially */
  }
  to {
    transform: translateX(0); /* Slide to center position */
  }
}

@keyframes fadeInContent {
  from {
    opacity: 0; /* Initially transparent */
  }
  to {
    opacity: 1; 
  }
}

.close-button {
  position: absolute; 
  top: 10px;
  right: 10px;
  background-color: transparent; 
  border: none; 
  color: #242424; 
  font-size: 20px; 
  cursor: pointer; 
}

.close-button:hover {
  color: darkgoldenrod; 
}

.modal-poster {
  width: 30%; /* Display image full width within content area */
  margin-bottom: 1rem; 
  margin-right: 650px;
}

.save-to-queue-button {
  background-color: #635985;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  /* Add some margin from content */
}

.save-to-queue-button:hover {
  background-color: darkgoldenrod;
  /* Darker green on hover */
}

.movie-poster {
  max-width: 150px;
  max-height: 250px;
}

.queue {
  position: relative;
  top: 5px; /* Adjust top position as needed */
  right: 5px;
  z-index: 1;
  background-color: transparent;
}

.user-welcome-container {
  position: absolute;
  top: 0; 
  left: 0; 
  padding: 10px; /* Add padding for better readability */
  color: whitesmoke;
}

.movie-trailer {
  margin-bottom: 250px;
  position: absolute;
  right: 150px;
}

